
 body{
            font-family: Myriad Pro, helvetica, sans-serif;
            font-size:11px;
            color: #000;            
            background: #fff;
            text-align:justify;            
            margin: 50px;
            border: 4px solid #00bfff;
        }
